/*----------------------------*/
/*---------THEME COLORS-------*/
/*----------------------------*/
$primary: #3d3429;
$secondary: #bfab94;
$tertiary: white;
$quaternary: #949c9c;

/*----------------------------*/
/*-------GENERAL STYLING------*/
/*----------------------------*/
* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-container {
  padding: 30px 120px;
}
input,
button {
  background: white;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
  outline: inherit;
}
/* This ends here */

/*----------------------------*/
/*-----GENERAL BREAKPOINTS----*/
/*----------------------------*/
@media (max-width: 1242px) {
  .section-container {
    padding: 50px;
  }
  .search {
    width: 20vw;
  }
  .contact-container:nth-child(2) {
    margin-left: 30px;
  }
}
/* This ends here */

@media (max-width: 960px) {
  .section-container {
    padding: 0 30px;
  }
  /* HEADER */
  header {
    flex-direction: column;
  }
  .main-nav {
    order: 1;
  }
  .search-box {
    margin: 10px 0;
  }
  .search {
    width: 240px;
  }

  /* This ends here */

  /* HERO */
  .heroContainer {
    height: 30vh;
  }
  /* This ends here */

  /* STORIES */
  .stories-section {
    background: #cfb497;
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .card-container {
    padding-top: 20px;
  }
  /* This ends here */

  /* FOOTER */
  .container {
    flex-direction: column-reverse;
  }
  .card {
    width: 100%;
  }
  .left {
    justify-content: flex-start;
  }
  .footer-ad {
    margin: 30px auto;
  }
}
/* This ends here */

@media (max-width: 512px) {
  .section-container {
    padding: 0 30px;
  }
  /* HEADER */
  #check:checked ~ .main-nav {
    left: 0;
    transition: ease 0.5s;
  }
  #check:checked ~ .menu-icon {
    color: white;
    transform: rotate(-90deg);
    transition: all 0.5s;
  }
  .menu-icon {
    display: block;
    margin-right: 30px;
    transform: rotate(90);
    transition: all 0.5s;
  }
  .main-nav {
    background: rgb(0, 0, 0, 0.6);
    left: -100%;
    position: absolute;
    top: 160px;
    transition: ease 0.5s;
    width: 100%;
  }
  .main-nav ul li {
    display: block;
    text-align: center;
  }
  .main-nav ul li:nth-child(2) {
    margin: 30px 0;
  }
  .search {
    width: 55vw;
  }
  /* This ends here */

  /* HERO */
  .heroContainer {
    height: 18vh;
  }
  /* This ends here */

  /* STORIES */
  .card-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  /* This ends here */

  /* NEWSLETTER */
  .newsletter-form {
    width: 88vw;
  }
  .newsletter-form p {
    font-size: 10vw;
  }
  /* This ends here */

  /* FOOTER */
  .left {
    flex-direction: column;
  }
  .contact-container:nth-child(2) {
    margin: 20px 0;
  }
  .footer-ad {
    width: 100%;
  }
}
@media (max-width: 340px) {
  .section-container {
    padding: 20px;
  }
}
