   <!-- Footer -->
   <footer class="section-container">
    <!-- Top layer Container -->
    <div class="container">
      <!-- Left Sub-Level Container -->

      <div class="card left">
        <!--  Inner container left  -->
        <div class="contact-container">
          <p>CONTACT US</p>
          <a href="#"> <i class="icon fas fa-phone"></i>09506244391 </a>

          <a href="mailto:coffeehub@gmail.com">
            <i class="icon fas fa-envelope"></i>coffeehub@gmail.com
          </a>
        </div>

        <!-- Inner container right -->
        <div class="contact-container">
          <p>GET CONNECTED</p>
          <a href="#"><i class="icon fab fa-facebook"></i>Facebook</a>
          <a href="#"><i class="icon fab fa-twitter"></i>Twitter</a>
          <a href="#"
            ><i class="icon fab fa-instagram-square"></i>Instagram</a
          >
        </div>
      </div>

      <!-- Right Sub-Level Container  -->
      <div class="card right">
        <iframe
          class="footer-ad"
          src="https://gifer.com/embed/HCqI"
          height="150"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <!-- Division line -->
    <hr />
    <p class="footer-text">Copyright &copy; Coffee Hub Magazine 2022</p>
    <a class="footer-text" href="#">Privacy and Policy</a>
  </footer>
</body>
</html>
