header {
  background: $secondary;
  box-shadow: $boxShadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  #check,
  .menu-icon {
    display: none;
  }
  //  display none, will be shown on specific breakpoint
  .menu-icon {
    color: $primary;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 110px;
  }

  // Brand Styling
  h1 a {
    font-family: $heading1;
    font-size: $headingSize;
    font-weight: $regular;
    line-height: 50px;
    text-decoration: none;
    text-shadow: $textShadow;
    color: $tertiary;
  }

  p {
    font-size: $paragraphSize;
    font-weight: $regular;
    letter-spacing: 9px;
    line-height: 1.5;
  }

  //  Navigation Links Styling
  li {
    display: inline-block;
  }
  li:nth-child(2) {
    margin: 10px 60px;
  }
  li a {
    color: $tertiary;
    text-shadow: $textShadow;
  }

  // Search Box Styling
  .search-box {
    background: $backGround1;
    border-radius: 3px;
    padding: 8px 10px;
  }
  .search {
    background: $tertiary;
    border-radius: 3px;
    color: $quaternary;
    padding: 5px 5px 5px 15px;
    width: 250px;
  }
  .search-btn {
    background: $secondary;
    padding: 5px 10px;
    border-radius: 3px;
  }

  // Header Animations
  .brand:hover,
  .main-nav ul li:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
  .search-btn .fas:active {
    color: $tertiary;
  }
}

// Header Breakpoint
@media (max-width: 400px) {
  .main-nav {
    top: 147px;
  }
  .search-box {
    align-self: flex-start;
  }
}
