<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Podkova:wght@400;700;800&family=Red+Hat+Display:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Fontawesome CDN -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <!-- Custom stylesheet -->

    <link rel="stylesheet" href="styles/styles.css" />
    <title>Coffee Marketing</title>
  </head>
  <body>
    <!-- Header -->
    <header class="section-container">
      <input type="checkbox" id="check" />
      <label for="check" class="menu-icon">
        <i class="fas fa-bars fa-2x"></i>
      </label>

      <!-- Brand -->
      <div class="brand">
        <h1>
          <a href="/">
            Coffee Hub
            <p>MAGAZINE</p>
          </a>
        </h1>
      </div>

      <!-- Nav links -->
      <nav class="main-nav">
        <ul>
          <li><a href="/#stories">Stories</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/shop">Shop</a></li>
        </ul>
      </nav>

      <!-- Search box -->
      <form action="/" method="post" class="search-box">
        <input
          type="text"
          class="search"
          id="search"
          name="search"
          autocomplete="off"
        />
        <button type="submit" class="search-btn">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </header>

    <main class="section-container article-container">
      <!-- Article Section -->

      <article class="box left-box">
        <h1>Coffee Marketing, Part 2</h1>
        <figure class="image-container">
          <a href="#">February 2, 2022</a> <a href="#">Bryan Mark Alcaide</a>
          <img
            class="article-image"
            src="../assets/photos/articleImage.jpg"
            alt="different flavors of coffee"
          />
          <figcaption>Photo by: Bryan Mark Alcaide</figcaption>
        </figure>

        <section class="paragraph-card">
          <h2>More Offers = More Sales</h2>
          <p>
            The secret to coffee sales is simple: Make More Offers! I’ve heard
            this idea called ABL, or “Always Be Launching.” The more you make
            offers to your customers, the more they will buy, which is
            successful for two reasons: novelty and the power of statistics.
          </p>
        </section>

        <section class="main-content">
          <div class="paragraph-card">
            <h3>The Novelty Factor</h3>
            <p>
              We humans like new things! There’s a reason that every time big
              tech companies release a new product, people line up and camp out
              the night before, even if they already have a similar product. In
              the coffee world, we see this with pumpkin spice lattes, limited
              releases, and cool collabs. Don’t you get excited when your
              favorite roasting company does something new? There’s almost no
              limit to how excited we get over new things, which means that the
              more new things you as a coffee business offer, the more your
              customers will buy.
            </p>
          </div>

          <div class="paragraph-card">
            <h3>Simple Statistics</h3>
            <p>
              At risk of oversimplifying this point, the other reason that
              frequent offers or launches are pretty much guaranteed to increase
              your sales is the power of statistics. If you make three sales for
              every 10 people who see your email offering a new product, you’ll
              make sales in direct relationship to how many times you offer a
              new product! It’s your choice: once or twice a year, or every few
              weeks? How much coffee do you want to sell? It’s entirely up to
              you!
            </p>
          </div>

          <div class="paragraph-card">
            <h3>What Makes a Good Offer or Launch?</h3>
            <p>
              While it’s tempting to try and make every launch huge, it’s better
              to vary the type of launches or offers as much as possible.
              Creativity is essential and the whole process can be incredibly
              fun both for teams and solo entrepreneurs. <br />

              <br />
              A great launch could be something as simple as making a big deal
              about expanding your open hours or free shipping for a holiday, or
              it could be as involved as a cross-border collaboration with a
              competitor or a complete new product line. <br />

              <br />
              The key here is to: Come up with something new (or revive
              something old) that’s worth noticing. Tell everyone about it.
              Absolutely talk it up on social media, in your brick-and-mortar
              spaces, by email, and on your website, and don’t forget to do PR
              around it—journalists and editors want to hear about novelty as
              much as your customers do. <br />

              <br />Track your results, learn everything you can, and do it all
              again! Be consistent. It takes time to become a go-to source of
              delight for your customers and their friends. Also, be patient,
              because momentum takes time to build.
            </p>

            <p>How much coffee do you want to sell? It’s entirely up to you!</p>
          </div>

          <div class="paragraph-card">
            <h3>The Power of Deadlines & Scarcity</h3>
            <p>
              If you haven’t already been using deadlines in combination with
              scarcity to close your sales, you’re going to love what happens
              when you try it—after all, we humans are driven by FOMO, or Fear
              of Missing Out. If someone is already leaning toward buying from
              you and there is a deadline to make the decision and/or limited
              quantities, they will be more likely to make the purchase. One
              simple way to use deadlines is to send an email announcement and
              offer a discount if the customer buys by a certain date (3–7 days
              out is good). Then, send another email to remind them a day or two
              later and explain what benefits they will get from it, and another
              an hour or two before the discount goes away. (I usually get up to
              50% of my sales right at that moment.) The nudge of urgency helps
              your customers make decisions.
            </p>

            <p>How much coffee do you want to sell? It’s entirely up to you!</p>
          </div>

          <div class="paragraph-card">
            <h3>Important Metrics</h3>
            <p>
              Even if you’re not data-driven, you should still track your
              results from your offers so that you can improve with each one. At
              a minimum, I recommend you keep track of the ways you promoted the
              offer, any responses you got from customers, and your final number
              of sales. If you care to track results for each channel (e.g.
              email vs. in-person sales), then it is even more educational.
            </p>

            <p>How much coffee do you want to sell? It’s entirely up to you!</p>
          </div>
        </section>
      </article>

      <!-- Advertising Section -->
      <aside class="box right-box">
        <iframe
          class="side-ad"
          src="https://gifer.com/embed/LEUR"
          height="700"
          frameborder="0"
          allowfullscreen
        ></iframe>

        <p>Advertise with Us</p>
      </aside>
    </main>

    <!-- Footer -->
    <footer class="section-container">
      <!-- Top layer Container -->
      <div class="container">
        <!-- Left Sub-Level Container -->

        <div class="card left">
          <!--  Inner container left  -->
          <div class="contact-container">
            <p>CONTACT US</p>
            <a href="#"> <i class="icon fas fa-phone"></i>09506244391 </a>

            <a href="mailto:coffeehub@gmail.com">
              <i class="icon fas fa-envelope"></i>coffeehub@gmail.com
            </a>
          </div>

          <!-- Inner container right -->
          <div class="contact-container">
            <p>GET CONNECTED</p>
            <a href="#"><i class="icon fab fa-facebook"></i>Facebook</a>
            <a href="#"><i class="icon fab fa-twitter"></i>Twitter</a>
            <a href="#"
              ><i class="icon fab fa-instagram-square"></i>Instagram</a
            >
          </div>
        </div>

        <!-- Right Sub-Level Container  -->
        <div class="card right">
          <iframe
            class="footer-ad"
            src="https://gifer.com/embed/HCqI"
            height="150"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <!-- Division line -->
      <hr />
      <p class="footer-text">Copyright &copy; Coffee Hub Magazine 2022</p>
      <a class="footer-text" href="#">Privacy and Policy</a>
    </footer>
  </body>
</html>
