<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Podkova:wght@400;700;800&family=Red+Hat+Display:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Fontawesome CDN -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <!-- Custom stylesheet -->

    <link rel="stylesheet" href="styles/styles.css" />
    <title>Coffee Marketing</title>
  </head>

  <body>
    <!-- Header -->
    <header class="section-container">
      <input type="checkbox" id="check" />
      <label for="check" class="menu-icon">
        <i class="fas fa-bars fa-2x"></i>
      </label>

      <!-- Brand -->
      <div class="brand">
        <h1>
          <a href="/">
            Coffee Hub
            <p>MAGAZINE</p>
          </a>
        </h1>
      </div>

      <!-- Nav links -->
      <nav class="main-nav">
        <ul>
          <li><a href="/#stories">Stories</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/shop">Shop</a></li>
        </ul>
      </nav>

      <!-- Search box -->
      <form action="/" method="post" class="search-box">
        <input
          type="text"
          class="search"
          id="search"
          name="search"
          autocomplete="off"
        />
        <button type="submit" class="search-btn">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </header>

    <main class="section-container article-container">
      <!-- Article Section -->
      <article class="box left-box">
        <h1>Singapore Kopi Culture</h1>
        <figure class="image-container">
          <a href="#">February 2, 2022</a> <a href="#">Bryan Mark Alcaide</a>
          <img
            class="article-image"
            src="../assets/photos/articleImage.jpg"
            alt="different flavors of coffee"
          />
          <figcaption>Photo by: Bryan Mark Alcaide</figcaption>
        </figure>

        <section class="paragraph-card">
          <h2>Coffee culture in Southeast Asia</h2>
          <p>
            With the global rise of third-wave coffee in the last decade and a
            half, it’s natural that the focus of the industry has prioritized
            quality, purity, and provenance. We tend to evaluate a coffee based
            on its proximity to perfection—the perfect terroir, the perfect
            roast profile, the perfect brew recipe. Whole brands, competitions,
            and companies are built around arabica coffees, prizing their
            complexity and cup quality. We even go as far as to insist, as an
            industry standard, that coffee tastes best unsullied—so no cream, no
            milk, no sugar, please!
          </p>

          <p>
            We’re also often under the (misguided) impression that specialty
            coffee, as we understand it, is a relatively young industry, with
            its roots in Antipodean coffee culture that then spread to other
            Western countries and took off in popularity. In fact, the spread of
            coffee across the world from its birthplace of the African continent
            centuries ago to the producing countries we know today, in order to
            supply coffee to developed consuming countries, is a modern dynamic
            deeply entrenched in colonialism. Governing bodies like the
            Specialty Coffee Association, World Coffee Research, and the Coffee
            Quality Institute, among others, espouse standards of evaluating
            coffee that are Eurocentric in nature, without necessarily taking
            into account the differences in experience, metrics of quality, and
            tasting backgrounds of coffee professionals the world over.
          </p>

          <p>
            We thus run the risk of having a myopic view of what constitutes
            “good coffee,” according to an insular and homogenous experience.
            What does that mean, when coffee is as diverse a product as they
            come? What does that say about our ability—or lack thereof—to
            understand that while we have engineered standards and systems to
            objectively evaluate the quality of coffee, there is a far more
            nebulous factor at play: the subjectivity of experience, coupled
            with the context of occasion?
          </p>

          <p>
            This is evident when we take into account the ways in which coffees
            have been lovingly interpreted and embraced by the cultures into
            which they were introduced, outside of the Western experience. I
            have the pleasure of interviewing Robert Chohan, founder of Kopi
            House U.K., dedicated to showcasing the diasporic Nanyang kopi
            heritage of Singapore in London, as well as Pamela Chng, cofounder
            of the Bettr Group in Singapore, a coffee organization dedicated to
            bettering the lives of women and marginalized youth in the country
            through vocational programs.
          </p>
        </section>

        <section class="main-content">
          <div class="paragraph-card">
            <h3>Coffee & Colonization</h3>
            <p>
              In order to understand how communities all over the world, and, in
              this instance, Singapore, came to have their own coffee cultures,
              it’s crucial to trace the spread of the crop via colonization.
            </p>
            <p>
              “Early Singapurah [Singapore] and Southeast Asia in general has
              had much influence from European and Western powers throughout its
              history,” says Chohan. “The most notable influence comes from the
              Portuguese in the 16th Century, the Dutch in the 17th, and the
              British in the 18th.”
            </p>
            <p>
              To maintain their supply of ready-to-drink caffeine, the
              Portuguese brought with them arabica coffee, which had been
              roasted and sugar-coated—known today as torrefacto roasting—to
              survive the long journey to Southeast Asia. The thin coating of
              sugar served the purpose of sealing the roasted bean, preventing
              oxidization that would turn them stale. Without any express
              shipping, their supplies would be expected to run low before new
              incoming shipments would arrive, especially with an ever-growing
              colonial community.
            </p>
            <p>
              In Southeast Asia, the Dutch proceeded to introduce Arabica to
              Indonesia (then named Batavia) in the late 17th century, followed
              shortly by the French, who introduced Robusta to Vietnam, with the
              intention of implementing plantations where the cash crop would be
              grown with forced native labor.
            </p>
            <p>
              Gradually, British colonization in Singapore (then named Malay
              Singapurah) and Myanmar similarly influenced coffee production
              within the region. There was also forced coffee production by the
              Spanish in the Philippines. Today, you will find varieties like
              Arabica, Robusta, Liberica (also called Barako), and Excelsa grown
              across the region, with Robusta being the predominant variety due
              to Southeast Asia’s equatorial terroir.
            </p>
          </div>

          <div class="paragraph-card">
            <h3>The Roots of Kopi</h3>
            <p>
              With the crop now established across Southeast Asia, it stands to
              reason that domestic consumption began to take root and evolve
              according to the regional practices and habits of people. Today,
              we’re talking about kopi (coffee) culture within Singapore—but
              what is kopi?
            </p>

            <p>
              “Kopi is the heritage style of coffee made in Southeast Asia, with
              variations in each country,” says Chng. <br />
              <br />

              While kopi may go by different monikers in different countries,
              the method of preparation is similar: brewed with a large sock
              filter and drunk black, with condensed or evaporated milk. Kopi
              can be prepared either hot or cold, all possessing very intense,
              bitter, heavy-bodied profiles, with little to no acidity.
            </p>
            <p>
              “The simplest answer would be [that] kopi is the local traditional
              coffee of Singapore (and Malaysia), but this simply doesn’t do it
              justice,” adds Chohan. “With millions of drinkers in the region,
              it deserves better even though it is only found in the Southeast
              Asian region. Plus, there is also a small but noticeable
              difference between Malaysian and Singaporean Kopi.”
            </p>
            <p>
              In Singapore, it’s usually found in hawker centers (a large,
              sprawling collection of open-air food and drink stalls) and
              kopitiams (coffee shops) all over the country. Ubiquitous and
              affordable, kopi is the drink of choice for a large population of
              the country, particularly the older demographic.
            </p>

            <p>
              But how did such a drink come to be a staple in the hearts—and
              diets—of Singaporeans? Chohan thinks it started all those
              centuries ago, with the shortfall in supply of torrefacto arabica
              for the initial group of Portuguese settlers; the indigenous Malay
              population, seeing the opportunity to move the early Western
              colonizers from roasted arabica coffee to the local
              “lower-quality” robusta coffee, are credited with the invention of
              local kopi culture in Singapore.
            </p>
          </div>

          <div class="paragraph-card">
            <h3>Kopi: A Melting Pot Beverage</h3>
            <p>
              While the Malays are considered the originators of kopi, the drink
              now proceeds to go through several evolutions as it begins to
              spread to different diasporas, including across the Straits of
              Johor into mainland Malaysia, with the country putting its own
              unique spin on the beverage. For example, Malaysian coffee is
              regularly roasted with salt, in addition to sugar, to boost the
              umami profile of the kopi; and certain places, such as the town of
              Ipoh, have chosen to deviate from traditional torrefacto roasting,
              instead including butter at the point of roasting.
            </p>

            <p>
              They were also the first to add sweetened condensed milk to the
              bittersweet beverage, cleverly accounting for the humid tropical
              climate in which the storage and usage of fresh milk was not as
              viable as in colder climes, as well as boosting the mouthfeel of
              the drink. This “milk and sugar” practice then made its way back
              to Singapore, where it evolved into the kopi we know today,
              formally named Nanyang kopi.
            </p>

            <p>
              The etymology of the beverage gives us clues as to the diverse and
              complex history of the drink upon reaching Singaporean shores:
              “Nanyang” literally means “Southern Ocean,” and is a Mandarin term
              referencing the warm lands of the South China Sea, an homage to
              the immigrants of Southern Chinese descent that arrived en masse
              in Malaysia and Singapore. “Kopi,” in turn, is Bahasa Melayu for
              “coffee,” and a nod to the enterprising indigenous Malays who are
              credited with creating torrefacto robusta all those centuries ago.
              Thus, “Nanyang kopi” is literally “Southern Ocean Coffee,” and its
              multicultural history is a culmination of the efforts of several
              key parties: the Malays, Teochews, Fujianese, Fuzhounese, and,
              perhaps most importantly, the Hainanese.
            </p>

            <p>
              With the mass immigration of Southern Chinese populations, such as
              the wealthier Teochews, Fuzhounese, and Fujianese into Singapore
              around the time the British had colonized the country in 1819,
              there was an influx of trade in textiles, spices, and manual labor
              as these communities began to contribute to the local economy. By
              the time the Hainanese arrived, between 1850–1900, there were
              limited options as to economic expansion that the wealthier
              Chinese communities hadn’t capitalized on, so the Hainanese turned
              to a (then) underrated staple: coffee.
            </p>

            <p>
              “The habit of drinking kopi arose in the early 20th century, with
              over 200 of these coffee shops—kopitiams—registered in Singapore
              in the 1920s,” says Chng.
            </p>
            <p>
              They provided not only coffee, but food highly affordable for the
              local immigrant communities, such as the traditional “national
              breakfast” of half-boiled eggs, kaya (coconut jam), and butter
              toast, and a sweet, strong, and fragrant cup of kopi, along with
              other famous staples of Hainanese cuisine, such as chicken rice or
              pork chops. Kopitiams, adds Chohan, “are endearingly called
              Hainanese kopitiams today because of how affiliated the Hainanese
              are with this trade in Singapore.
            </p>

            <p>
              “They continued to develop the roasting and brewing method [of
              kopi] and…along the way, the ‘piece of cloth’ turned into a formal
              coffee ‘sock’—a cloth filter sewn into a sock-type shape, with its
              open end attached to a metal hoop with a handle. This allowed it
              to be easily handled, and also put into the opening of a large pot
              into which brewed coffee complete with grounds would be poured,”
              he adds. “The sock would allow the brewed coffee to filter through
              and retain all the coffee grounds in a convenient-to-dispose-of
              way.”
            </p>

            <p>
              Running the kopitiams on low profit margins meant the Hainanese
              had to develop more cost-effective ways to feed a rapidly growing
              population. The development of Nanyang kopi saw the addition of
              maize, as a bulking ingredient to lower the overall cost, and
              margarine, to help separate the sticky, caramelized beans as they
              cooled. Adding maize, paired with the intense sugar-roasting
              process, resulted in a distinctly robust and unique flavor—a happy
              accident that defined the tasting profile of an entire diasporic
              coffee culture.
            </p>
          </div>

          <div class="paragraph-card">
            <h3>The Best of Both Worlds</h3>
            <p>
              It is precisely that sentiment that drives both Chng and Chohan in
              the work they do today, to promote and preserve a vibrant
              diasporic coffee culture.
            </p>

            <p>
              “The first and second waves of coffee transformed the colonial
              cash crop into a ubiquity in nearly every country. It’s important
              to preserve traditional diaspora coffee cultures—like kopitiams in
              Singapore—to keep brewing diversity within coffee,” says Chng.
              “Similarly, while the terms americano, latte, and French press are
              widely known, a sock-filter kopi would be harder to order at
              coffee shops outside of these diasporic coffee cultures, so it’s
              vital to preserve these practices and traditions.”
            </p>

            <p>
              And sometimes the approach can simply lie in giving people a
              choice through exposure. Chng’s company, Bettr Barista, installed
              Singapore’s revolutionary first hybrid bar in their Facebook
              Singapore café in 2018, a setup which offered customers a choice
              between both specialty and local coffee.
            </p>

            <p>
              “We trained our baristas in both [styles of coffee] and discovered
              that it was a great way for our young (16-year-olds) and old
              (55-year-olds) baristas to learn with and from each other,” she
              says. “We have since converted six of our bars into this hybrid
              format.”
            </p>

            <p>
              In addition, Better Barista has also begun offering formal classes
              in which students can learn to brew traditional kopi.
            </p>

            <p>
              “[This is] so that we can encourage more young people to pick up
              the skills and craft to ensure we preserve this precious heritage
              of ours right alongside specialty coffee,” says Chng. “We have the
              best of both worlds right here in Singapore—why not enjoy and
              celebrate it fully, much like how we celebrate our multicultural,
              multi-racial existence?”
            </p>

            <p>
              Even though Nanyang kopi in its current form has been around less
              than a century, it has thoroughly defined Singaporean society.
            </p>

            <p>
              “It is highly affordable…and also embodies the togetherness of
              society by offering a real food-and-socializing experience,” says
              Chohan.
            </p>

            <p>
              But above all, he concludes that the best thing about kopi is that
              it’s distinctly Southeast Asian.
            </p>

            <p>
              “This alone makes [kopi] worth preserving—it offers an alternative
              coffee world outside of the predominantly espresso-based market,”
              he says. “It embodies the effort of multiple ethnicities in
              producing what millions of people now drink as their daily hot
              beverage, and in doing so is a reminder of the journeys of those
              people when they arrived in Singapore.”
            </p>
          </div>
        </section>
      </article>

      <!-- Advertising Section -->
      <aside class="box right-box">
        <iframe
          class="side-ad"
          src="https://gifer.com/embed/LEUR"
          height="700"
          frameborder="0"
          allowfullscreen
        ></iframe>

        <p>Advertise with Us</p>
      </aside>
    </main>

    <!-- Footer -->
    <footer class="section-container">
      <!-- Top layer Container -->
      <div class="container">
        <!-- Left Sub-Level Container -->

        <div class="card left">
          <!--  Inner container left  -->
          <div class="contact-container">
            <p>CONTACT US</p>
            <a href="#"> <i class="icon fas fa-phone"></i>09506244391 </a>

            <a href="mailto:coffeehub@gmail.com">
              <i class="icon fas fa-envelope"></i>coffeehub@gmail.com
            </a>
          </div>

          <!-- Inner container right -->
          <div class="contact-container">
            <p>GET CONNECTED</p>
            <a href="#"><i class="icon fab fa-facebook"></i>Facebook</a>
            <a href="#"><i class="icon fab fa-twitter"></i>Twitter</a>
            <a href="#"
              ><i class="icon fab fa-instagram-square"></i>Instagram</a
            >
          </div>
        </div>

        <!-- Right Sub-Level Container  -->
        <div class="card right">
          <iframe
            class="footer-ad"
            src="https://gifer.com/embed/HCqI"
            height="150"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <!-- Division line -->
      <hr />
      <p class="footer-text">Copyright &copy; Coffee Hub Magazine 2022</p>
      <a class="footer-text" href="#">Privacy and Policy</a>
    </footer>
  </body>
</html>
