<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Font CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Podkova:wght@400;700;800&family=Red+Hat+Display:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Fontawesome CDN -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Coffee Marketing</title>
  </head>

  <body>
    <!-- Header -->
    <header class="section-container">
      <input type="checkbox" id="check" />
      <label for="check" class="menu-icon">
        <i class="fas fa-bars fa-2x"></i>
      </label>

      <!-- Brand -->
      <div class="brand">
        <h1>
          <!-- the href ='/' refers to the get route specified for the homepage -->
          <a href="/">
            Coffee Hub
            <p>MAGAZINE</p>
          </a>
        </h1>
      </div>

      <!-- Nav links -->
      <nav class="main-nav">
        <ul>
          <!-- The /#stories and #about are redirect links and will transfer clients into specific section of the homepage when clicked -->
          <li><a href="/#stories">Stories</a></li>
          <li><a href="/#about">About</a></li>
          <!-- the href ='/shop' refers to the get route specified for the shop page -->
          <li><a href="/shop">Shop</a></li>
        </ul>
      </nav>

      <!-- Search box -->
      <form action="/" method="post" class="search-box">
        <input
          type="text"
          class="search"
          id="search"
          name="search"
          autocomplete="off"
        />
        <button type="submit" class="search-btn">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </header>

    <main class="section-container article-container">
      <!-- Article Section -->
      <article class="box left-box">
        <h1>Coffee Marketing, Part 1</h1>
        <figure class="image-container">
          <!-- These are just dummy links -->
          <a href="#">February 2, 2022</a> <a href="#">Bryan Mark Alcaide</a>
          <img
            class="article-image"
            src="../assets/photos/articleImage.jpg"
            alt="different flavors of coffee"
          />
          <figcaption>Photo by: Bryan Mark Alcaide</figcaption>
        </figure>

        <section class="paragraph-card">
          <h2>Introducing: The World’s First Coffee Marketing System</h2>
          <p>
            You want to pay down your line of credit at the bank, give your
            employees COVID-19 hazard pay, and look back at the end of your life
            and see that your hard work and sacrifice have paid off and you’ve
            built a real business legacy. To do that you need to do one thing
            most of all: sell coffee, and lots of it! But if you’re like many
            coffee business owners, you may not know much about marketing.
          </p>
          <p>
            It’s possible to sell coffee with grace and confidence. Over the
            years, I’ve seen it done and done it for others, even selling
            millions of pounds of coffee through common-sense tactics at two of
            the businesses I founded: coffee subscription Crema.co and Ethiopian
            coffee importer Catalyst Trade.
          </p>
          <p>
            Here’s the great news about selling coffee: as long as you have the
            five basic steps in place with your coffee marketing, and you or
            your staff allocate a certain amount of time every week to doing
            those tasks, your business is guaranteed to sell coffee. If you do
            that, you can do many things less than perfectly—and still sell more
            coffee than you think possible!
          </p>
        </section>

        <section class="main-content">
          <div class="paragraph-card">
            <h3>The 5 Steps</h3>
            <ol>
              <li>
                <strong>Product –</strong> I feel pretty confident that you’re
                making a great product! But even more important than the actual
                quality of your coffee are the promises you’re making about your
                product, and how well you’re fulfilling them. These can be
                clearly stated or subliminal.
              </li>
              <li>
                <strong>Presentation – </strong> One of the biggest
                misunderstandings I see in this area is when people mistake a
                fancy logo or visual design for their presentation. Actually,
                everything your business does is part of your presentation, from
                the way your employees respond to customers, to the color of
                your packaging, to the prices you display on your menu board.
              </li>
              <li>
                <strong>“It” Factor –</strong> This is one of the hardest pieces
                to nail down, but the most essential: what distinguishes you
                from your competitors? It can be flashy design or witty copy,
                but even those are just part of your presentation. The core of
                your brand is your “It” Factor, and it’s worth the
                soul-searching necessary to figure it out because this is how
                you stick in your customers’ minds long after they’ve drunk your
                coffee.
              </li>
              <li>
                <strong>Outreach –</strong> Outreach is everything we often
                think of as marketing, from social media posts, to PR pushes, to
                cold calling potential wholesale clients. It’s important to have
                a simple list of tasks here that you can accomplish regularly,
                instead of throwing everything you have against the wall and
                hoping it will stick. It is this step that, once the others are
                complete, defines successful coffee companies in the long term.
              </li>
              <li>
                <strong>Observe & Adjust –</strong> Figure out which metrics
                you’re tracking and revisit them regularly. When delegating,
                systematize the tasks necessary, and check in regularly to see
                how well they are performing and make adjustments as needed.
              </li>
            </ol>
            <p>
              While the whole topic of coffee marketing is much more complicated
              than this, at its core, it’s this simple: make sure you have your
              5 Steps in place and are putting the appropriate amount of time in
              every week, and you will start to see success.
            </p>
          </div>
        </section>
      </article>

      <!-- Advertising Section -->
      <aside class="box right-box">
        <iframe
          class="side-ad"
          src="https://gifer.com/embed/LEUR"
          height="700"
          frameborder="0"
          allowfullscreen
        ></iframe>

        <p>Advertise with Us</p>
      </aside>
    </main>

    <!-- Footer -->
    <footer class="section-container">
      <!-- Top layer Container -->
      <div class="container">
        <!-- Left Sub-Level Container -->

        <div class="card left">
          <!--  Inner container left  -->
          <div class="contact-container">
            <p>CONTACT US</p>
            <a href="#"> <i class="icon fas fa-phone"></i>09506244391 </a>

            <a href="mailto:coffeehub@gmail.com">
              <i class="icon fas fa-envelope"></i>coffeehub@gmail.com
            </a>
          </div>

          <!-- Inner container right -->
          <div class="contact-container">
            <p>GET CONNECTED</p>
            <!-- These are just dummy links -->
            <a href="#"><i class="icon fab fa-facebook"></i>Facebook</a>
            <a href="#"><i class="icon fab fa-twitter"></i>Twitter</a>
            <a href="#"
              ><i class="icon fab fa-instagram-square"></i>Instagram</a
            >
          </div>
        </div>

        <!-- Right Sub-Level Container  -->
        <div class="card right">
          <iframe
            class="footer-ad"
            src="https://gifer.com/embed/HCqI"
            height="150"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <!-- Division line -->
      <hr />
      <p class="footer-text">Copyright &copy; Coffee Hub Magazine 2022</p>
      <a class="footer-text" href="#">Privacy and Policy</a>
    </footer>
  </body>
</html>
