/* Footer Styling */
footer {
  background: #3d3429;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px !important ;
}
/* This ends here */

/* Sub-level Container Styling */
.container {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
/* This ends here */

/* Left Card Styling */
.left {
  display: flex;
}
.contact-container a {
  display: block;
  margin-top: 20px;
}
.contact-container:nth-child(2) {
  margin-left: 180px;
}
.icon {
  margin-right: 10px;
}
/* This ends here */

/* Right Card Styling */
.right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.footer-ad {
  width: 500px;
}
footer p,
footer a {
  color: white;
}
/* This ends here */

/* Footer Text Styling */
hr {
  margin: 20px 0;
}
.footer-text {
  font-size: 0.8rem;
  text-align: center;
}
/* This ends here */

/*----------------------------*/
/*------FOOTER ANIMATIONS-----*/
/*----------------------------*/
.contact-container a:hover {
  text-decoration: underline;
  transform: scale(1.01);
  transition: all 0.5s;
}
/* This ends here */
