/* Outer Container Styling */
.stories-section {
  background: #cfb497;
  padding-top: 30px;
  padding-bottom: 120px;
}
/* This ends here */

/* Stories Heading 2 Styling */
.stories-section h2 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 0 4px 4px rgb(0, 0, 0, 0.7);
}
/* This ends here */

/* Inner Container Styling */
.card-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* This ends here */

/* Individual Card Styling */
.blog-card {
  background: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
  box-shadow: -1px 4px 8px rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 480px;
}
.blog-image {
  background-image: url(../assets/photos/heroImage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 500px;
}
.readable-section {
  padding: 20px;
  height: 100%;
}
.readable-section h3 {
  color: #3d3429;
  font-family: "Podkova", serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.readable-section p {
  color: #3d3429;
  line-height: 30px;
}
.read-more-btn {
  padding: 20px;
}
.read-more-btn a {
  background: #3d3429;
  border-radius: 5px;
  color: white;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  padding: 15px;
  text-align: center;
}
/* This ends here */

/*----------------------------*/
/*-----BLOG CARD ANIMATIONS---*/
/*----------------------------*/
.blog-card:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
